<div class="section" id="skills">
    <div class="container">
        <div class="h4 text-center mb-4 title">Skills</div>
        <div class="card skill-card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">HTML</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                                <span class="progress-value">85%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">CSS</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                <span class="progress-value">80%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">JavaScript</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                                <span class="progress-value">50%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">Angular</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                <span class="progress-value">60%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">SCSS,Bootstrap</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                <span class="progress-value">80%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">GIT</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                                <span class="progress-value">70%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
