<div class="section education-wrapper" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
        <div class="card education-card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header text-white">
                        <p>2015 - 2018</p>
                        <div class="h5">Bachelor's Degree</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Bachelor of Engineering</div>
                        <h4 class="category">Institute of Engineering & Technology (IET-DAVV)
                        </h4>
                        <ul>
                            <li>Completed B.E in Computer Engineering with <b>74.27%</b>.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card education-card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header text-white">
                        <p>2012 - 2014</p>
                        <div class="h5">Higher Secondary (Diploma)</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Higher Secondary (Diploma)</div>
                        <h4 class="category">Indore Women's Polytechnic College
                        </h4>
                        <ul>
                            <li>
                                Completed my high school with<b>7.7 CGPA</b>.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card education-card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header text-white">
                        <p>2012</p>
                        <div class="h5">Sedcondary School</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Secondary School</div>
                        <h4 class="category">National Public School, Indore
                        </h4>
                        <ul>
                            <li>
                                Completed my Secondary school with <b>6.2 CGPA</b>.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>