.navbar-bg-wrapper {
    background: url('../../../assets/images/landing-bg.jpg') no-repeat;
    background-size: cover;
    min-height: 600px;
    width: 100%;
    nav {
        padding: 20px 0;

        @media only screen and (max-width: 660px) {
            padding: 10px 0;
            background: #00334D;
        }
    }
}

.navbar-list-wrapper {
    li {
        margin-right: 20px;
        padding: 0 10px;
        cursor: pointer;
        a {
            text-transform: uppercase;
        }
        &:hover {
            background: rgba(128, 128, 128, 0.58);
            border-radius: 4px;
        }
    }
}

.sticky {
    transition: 0.3s all ease-in-out;
    background: #00334D !important;
}

.navbar-toggler {
    padding: 2px 6px;
    font-size: 17px;
    border:1px solid #fff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.sticky .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}



@media only screen and (max-width: 990px) {
    .navbar-flex-wrapper {
        flex-direction: column;
    }

    .navbar .container {
        max-width: 100%;
        padding: 0 16px;
    }

    .navbar-mobile-flex {
        display:flex;
        justify-content: space-between;
        padding:10px 16px;
        
    }

    .navbar {
        background: #00334D;
    }

    .navbar-collapse-wrapper {
        background: #00334D !important;
    }


}
