.about-wrapper {
    padding: 6em 0 4em;
    .about-card {
        // height: 400px;
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    }
}

.about-spacing-wrapper {
    // padding-top: 30px;
    padding:10px 0;
}

