<section class="about-wrapper" id="about">
    <div class="container">
        <div class="card about-card">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card-body">
                        <!-- <div class="h4 mt-0 title">About</div> -->
                        <div class="about-spacing-wrapper">
                            <p>Hi, I'm <strong>Priyal Jain</strong>. Currently, I am UI developer and keen to learn new things, explore about new technologies and challanges. Also, love to contribute in open source communities. Enthusiast tech lover, community lover, dreamer and achiever.</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Basic Information</div>
                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email:</strong>
                            </div>
                            <div class="col-sm-8">priyaljain919@gmail.com</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Language:</strong>
                            </div>
                            <div class="col-sm-8">Hindi, English</div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>
