<section class="intro-wrapper">
    <div class="container">
        <div>
            <div class="cc-profile-image text-center">
                <a href="#">
                    <img src="assets/images/priyal.jpeg" alt="Image" />
                </a>
            </div>
            <div class="text-center text-white">
                <h4 class="text-uppercase text-white">Priyal Jain</h4>
                <p class="text-uppercase">UI Developent Engineer</p>
                <div>
                    <a class="btn btn-primary custom-btn smooth-scroll aos-init aos-animate" href = "https://drive.google.com/file/d/1cw78LetZLruKZmfXAh3t_6BuHVSDNQUd/view?usp=sharing" target="_blank">
                        Download Resume
                    </a>
                </div>
            </div>
            <div class="button-container">
                <a class="btn btn-social btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/priyaljain919/" target="_blank" rel="tooltip" title="Follow me on Linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a class="btn btn-social btn-round btn-lg btn-icon" href="https://github.com/priyaljain919" target="_blank" rel="tooltip" title="Follow me on Github">
                    <i class="fa fa-github"></i>
                </a>
                <a class="btn btn-social btn-round btn-lg btn-icon" href="https://twitter.com/priyaljain919" target="_blank" rel="tooltip" title="Follow me on Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
</section>


