.intro-wrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    .button-container {
        padding-top: 20px;
        text-align: center;
        width: 100%;
        a {
            &:not(:last-child) {
                margin-right: 20px;
            }
            
        }
    }

    @media only screen and (max-width: 768px) {
        top: 33%;
    }

    @media only screen and (max-width: 660px) {
        top:50%;
    }
}


