<section class="intro-wrapper">
    <div class="container">
        <div>
            <div class="cc-profile-image text-center">
                <a href="#">
                    <img src="assets/images/priyal-new.PNG" alt="Image" />
                </a>
            </div>
            <div class="text-center text-white">
                <h4 class="text-uppercase text-white">Priyal Jain</h4>
                <p class="text-uppercase">Frontend Developer</p>
                <div>
                    <a class="btn btn-primary custom-btn smooth-scroll mr-2 aos-init aos-animate">
                        Hire
                    </a>
                    <a class="btn btn-primary custom-btn smooth-scroll mr-2 aos-init aos-animate">
                        Download CV
                    </a>
                </div>
            </div>
            <div class="button-container">
                <a class="btn btn-social btn-round btn-lg btn-icon" href="javascript:void(0)" target="_blank" rel="tooltip" title="Follow me on Facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="btn btn-social btn-round btn-lg btn-icon" href="javascript:void(0)" target="_blank" rel="tooltip" title="Follow me on Instagram">
                    <i class="fa fa-instagram"></i>
                </a>
                <a class="btn btn-social btn-round btn-lg btn-icon" href="javascript:void(0)" target="_blank" rel="tooltip" title="Follow me on Linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a class="btn btn-social btn-round btn-lg btn-icon" href="javascript:void(0)" target="_blank" rel="tooltip" title="Follow me on Github">
                    <i class="fa fa-github"></i>
                </a>
                <a class="btn btn-social btn-round btn-lg btn-icon" href="javascript:void(0)" target="_blank" rel="tooltip" title="Follow me on Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
</section>