/* You can add global styles to this file, and also import other style files */

body {
    color: #2c2c2c;
}

.full-width {
    width: 100%;
}

.btn-round {
    border-radius: 50% !important;
}

.btn-primary {
    // background-color: rgb(21, 70, 95) !important;
    // border-color: rgb(21, 70, 95) !important;
    background-color: #ec5453 !important;
    border-color: #ec5453 !important;
}

.btn-social {
    background-color: #00334D !important;
    border-color: #00334D !important;
    color: #fff !important;
    &:hover {
        transition: 0.3s all ease-in-out;
        transform: scale(1.03);
    }
}

.custom-btn {
    min-width: 7em;
}

.portfolio-list-wrapper {
    li {
        display: inline-block;
    }
}


/* Profile Image Style */

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.6, 0.6);
        transform: scale(0.6, 0.6);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0.0;
    }
}

@keyframes pulsate {
    0% {
        -webkit-transform: scale(0.6, 0.6);
        transform: scale(0.6, 0.6);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0.0;
    }
}

.cc-profile-image {
    a {
        position: relative;
        &::before {
            content: "";
            border: 15px solid rgba(55, 140, 63, 0.6);
            border-radius: 50%;
            height: 180px;
            width: 180px;
            position: absolute;
            left: 0;
            -webkit-animation: pulsate 1.6s ease-out;
            animation: pulsate 1.6s ease-out;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            opacity: 0.0;
            z-index: 99;
        }
        img {
            position: relative;
            border-radius: 50%;
            height: 180px;
            width: 180px;
            object-fit: cover;
            object-position: center;
            padding: 0;
            margin: 0;
            border: 15px solid transparent;
            z-index: 9999;
            -webkit-transition: all .3s ease-out;
            transition: all .3s ease-out;
        }
        &:hover {
            img {
                transform: scale(1.06, 1.06);
            }
        }
    }
}


/* Professional Skills Style */

.progress-container {
    margin-bottom: 20px;
    font-size: 18px;
}

.progress-container .progress-bar {
    height: 5px;
    // -webkit-transform: scaleX(0);
    // transform: scaleX(0);
    -webkit-transition: -webkit-transform 2s ease-in-out;
    transition: -webkit-transform 2s ease-in-out;
    transition: transform 2s ease-in-out;
    transition: transform 2s ease-in-out, -webkit-transform 2s ease-in-out;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

.progress-container .progress {
    height: 5px;
    font-size: 18px;
}

.progress-container .aos-animate {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.progress-container {
    position: relative;
}

.progress-container+.progress-container,
.progress-container~.progress-container {
    margin-top: 15px;
}

.progress-container .progress-badge {
    color: #888;
    font-size: 0.8571em;
    text-transform: uppercase;
}

.progress-container .progress {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: rgba(222, 222, 222, 0.8);
    margin-top: 14px;
}

.progress-container .progress .progress-bar {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #888;
}

.progress-container .progress .progress-value {
    position: absolute;
    top: 2px;
    right: 0;
    color: #888;
    font-size: 0.8571em;
}

.progress-container.progress-neutral .progress {
    background: rgba(255, 255, 255, 0.3);
}

.progress-container.progress-neutral .progress-bar {
    background: #FFFFFF;
}

.progress-container.progress-neutral .progress-value,
.progress-container.progress-neutral .progress-badge {
    color: #FFFFFF;
}

.progress-container.progress-primary .progress {
    background: rgba(10, 49, 68, 0.349);
}

.progress-container.progress-primary .progress-bar {
    background: #00334D;
}

.progress-container.progress-primary .progress-value,
.progress-container.progress-primary .progress-badge {
    color: #00334D;
}

.progress-container.progress-info .progress {
    background: rgba(44, 168, 255, 0.3);
}

.progress-container.progress-info .progress-bar {
    background: #2CA8FF;
}

.progress-container.progress-info .progress-value,
.progress-container.progress-info .progress-badge {
    color: #2CA8FF;
}

.progress-container.progress-success .progress {
    background: rgba(24, 206, 15, 0.3);
}

.progress-container.progress-success .progress-bar {
    background: #18ce0f;
}

.progress-container.progress-success .progress-value,
.progress-container.progress-success .progress-badge {
    color: #18ce0f;
}

.progress-container.progress-warning .progress {
    background: rgba(255, 178, 54, 0.3);
}

.progress-container.progress-warning .progress-bar {
    background: #FFB236;
}

.progress-container.progress-warning .progress-value,
.progress-container.progress-warning .progress-badge {
    color: #FFB236;
}

.progress-container.progress-danger .progress {
    background: rgba(255, 54, 54, 0.3);
}

.progress-container.progress-danger .progress-bar {
    background: #FF3636;
}

.progress-container.progress-danger .progress-value,
.progress-container.progress-danger .progress-badge {
    color: #FF3636;
}

.btn-twitter {
    color: #55acee;
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active {
    color: #3ea1ec;
}

.btn-facebook {
    color: #3b5998;
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active {
    color: #344e86;
}

.btn-google {
    color: #dd4b39;
}

.btn-google:hover,
.btn-google:focus,
.btn-google:active {
    color: #d73925;
}

.btn-linkedin {
    color: #0077B5;
}

.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active {
    color: #00669c;
}
