<footer class="footer" id="contact">
    <div class="container text-center footer-social-wrapper">
        <a class="cc-instagram btn btn-link instagram-icon" href="https://www.linkedin.com/in/priyaljain919/" target="_blank">
            <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-twitter btn btn-link twitter-icon" href="https://twitter.com/priyaljain919" target="_blank">
            <i class="fa fa-twitter fa-2x " aria-hidden="true"></i>
        </a>

        <a class="cc-github btn btn-link github-icon" href="https://github.com/priyaljain919" target="_blank">
            <i class="fa fa-github fa-2x " aria-hidden="true"></i>
        </a>
        <!-- <a class="cc-google-plus btn btn-link" href="#" target="_blank">
        <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
      </a> -->
    </div>
    <!-- <div class="text-center text-muted">
        <p>&copy; All rights reserved.
        </p>
    </div> -->
</footer>
